{% load bootstrap4 %}


<!doctype html>
<html lang="eng">


<head>

 <meta charset="utf-8"
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>Learning Log</title>

 {% bootstrap_css %}
 {% bootstrap_javascript jquery='full' %}

</head>


<body>
 
 <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">            <!create a bar on the top of the page, where we insert the link and they will be styled according to the rules defined by the selectors>

  <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Log</a>   <!display the name of the site>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
  aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span></button>                                                  <!create a button that pops up when we reduce the size of the window, to vertically show the links>
   <div class="collapse navbar-collapse" id="navbarCollapse">   <!in the 'div'(division) section we place everything that will be displayed in the navigation bar and collapsed if the screen is too narrow>
    <ul class="navbar-nav mr-auto">  <!here we place the items/links we want to display>     
     <li class="nav-item">
      <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
     </li>
    </ul>
    <ul class="navbar-nav ml-auto">     <!we create another unordered_list to group all the link related to user's actions: register, logout, login...>
     {% if user.is_authenticated %}
      <li class="nav-item">
       <span class="navbar-text">Hello, {{ user.username }} :)</span>        <!span is used to mark up a text or a part of the document>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
      </li>
     {% else %}
      <li class="nav-item">
       <a class="nav-link" href="{% url 'users:register' %}">Register</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
      </li>
     {% endif %}
    </ul>
   </div>
 </nav>

 <main role="main" class="container">       <!see page 340 for detailed explanation>
  <div class="pb-2 mb-2 border-bottom">
   {% block page_header %}{% endblock page_header %}
  </div>
  <div>
   {% block content %}{% endblock content %}
  </div>
 </main>

</body>

</html>